.taskPreview{
    width: 90%;
    height: 60px;
    border: 1px solid lavender;
    margin-left: 5%;
}

.taskHeader{
    color:rebeccapurple;
    margin-left: 1%;
}

.column{
    height: 100%;
    width: 100%;
    padding-bottom: 70px;
}

.columnName{
    color: rebeccapurple;
    margin-left: 5%;
}

.background{
    width: 100dvw;
    height: 110dvh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
    position: absolute;
    top: -10dvh;
    
}

.modal{
    width: 40dvw;
    min-width: 300px;
    
    
    z-index: 10;
    position: absolute;
    left: 30dvw;
    top: 10dvh;
    background-color: whitesmoke;
}

.text{
    margin-left: 5dvw;
    color:darkgray;
}

.searchInput{
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid darkgray;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5px;
}

.button{
    width: 100px;
    height: 30px;
    background-color:rebeccapurple;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: aliceblue;
}

.searchRes{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border: 1px solid gainsboro; 
}

.subtaskStatus{
    width: 20px;
    height: 20px;
    border: 1px solid gainsboro;
}

.subtask{
    display: flex;
    flex-direction: row;
    width: 30dvw;
    height: 40px;
    margin-left: 10px;
}

.subtaskName{
    font-size: 15px;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 5px;
}

.filename{
    margin-left: 10px;
    font-size: 20px;
}

.commentInput{
    width: 25dvw;
    height: 30px;
    border: 1px solid gainsboro;
    font-size: 15px;
    margin-left: 15px;
}

.commentButton{
    width: 5dvw;
    height: 20px;
    border: 1px solid gainsboro;
    background-color: ghostwhite;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 10px;
}

.commentField{
    width: 30dvw;
    border-bottom: 1px solid gainsboro;
}

.comment{
    font-size: 15px;
    color:darkgray;
    margin-left: 10px;
}

.modalButton{
    border: 1px solid gainsboro;
    background-color: ghostwhite;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 10px;
}

.errorMessage{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
}

.errorText{
    color:aliceblue;
    font-size: 12px;
}

.modalField{
    display: flex;
    flex-direction: row;
}

.modalInput{
    width: 25dvw;
    border: 1px solid gainsboro;
    margin-left: 5px;
    height: 20px;
    margin-top: 15px;
}

.descriptionArea{
    width: 30dvw;
    height: 20dvh;
}

.proj{
    width: 20dvw;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    margin: 5dvh 5dvw;

}

.projButton{
    background-color:ghostwhite;
    border: 1px solid gainsboro;
    margin: 5px 2px;
}