.taskPreview{
    width: 90%;
    height: 60px;
    border: 1px solid lavender;
    margin-left: 5%;
}

.taskHeader{
    color:rebeccapurple;
    margin-left: 1%;
}

.column{
    height: 100%;
    width: 100%;
    padding-bottom: 70px;
}

.columnName{
    color: rebeccapurple;
    margin-left: 5%;
}

.background{
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
    position: absolute;
    top: 50px;
}

.modal{
    width: 40dvw;
    min-width: 300px;
    min-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 10;
    position: fixed;
    left: 30dvw;
    top: 10dvh;
    background-color: whitesmoke;
}

.text{
    margin-left: 5dvw;
    color:darkgray;
}