.wrapper{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
    width: 30dvw;
    
}

.button{
    background-color:ghostwhite;
    border: 1px solid gainsboro;
    color:black;
}